.restaurant-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption{
  padding: 10px;
}

.nav-pills-center{
  text-align: center;
}

.nav-pills-center > li{
  float: none;
  display: inline-block;
}

.wrapper{
  height: 400px;
}

.user-edit{
  float:left;
  height :90px;
  text-align :center;
  line-height: 90px;
  padding-right :10px;
}

.my-restaurant{
  text-align :center;
}

.top10{
  margin-bottom :15px;
}